<!-- dashboard.ejs -->
<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header-auth") %>
    <main class="container">
      <h1>Welcome to the Dashboard, <%= user.username %>!</h1>
      <br />
      <h3>Your Startup Information:</h3>
      <ul>
        <li><strong>Name:</strong> <%= startup.name || "NaN" %></li>
        <li><strong>Founder:</strong> <%= startup.founder || "NaN" %></li>
        <li><strong>Website:</strong> <%= startup.website || "NaN" %></li>
        <li><strong>Address:</strong> <%= startup.address || "NaN" %></li>
        <li><strong>Image:</strong> <%= startup.image || "NaN" %></li>
        <li>
          <strong>Categories:</strong> <%= startup.categories.join(', ') ||
          "NaN" %>
        </li>
      </ul>

      <!-- Link to the edit page -->
      <a class="mt-5 button" href="/startup/edit">Edit Startup</a>

      <br />
      <br />

      <h3 class="title is-5">Potential Partners</h3>
      <div class="columns"></div>
      <% similarStartups.forEach(similarStartup => { %>
      <div class="column">
        <div class="box is-flex">
          <figure class="image is-128x128 mr-4">
            <img
              class="is-rounded"
              src="https://bulma.io/images/placeholders/128x128.png"
              alt=""
            />
          </figure>
          <div class="is-flex is-flex-direction-column pt-2">
            <h3 class="title is-5"><%= similarStartup.info.name || "NaN" %></h3>
            <p class="subtitle is-6">
              <%= similarStartup.info.founder || "NaN" %>
            </p>
            <p><%= similarStartup.info.website || "NaN" %></p>
            <p>
              <strong>Tags:</strong> <%= (similarStartup.info.categories &&
              Array.isArray(similarStartup.info.categories)) ?
              similarStartup.info.categories.join(', ') : "NaN" %>
            </p>
          </div>
        </div>
      </div>
      <% }); %>
    </main>
    <!-- THE FOOTER TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>
