<!-- search.ejs -->
<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header-auth") %>
    <main class="container">
      <h1 class="title has-text-centered">Search Startups</h1>

      <!-- Add a search input form -->
      <form action="/search" method="get" class="mb-5">
        <label for="name">Search by Name:</label>
        <input
          class="input mb-2"
          type="text"
          id="name"
          name="name"
          placeholder="Enter startup name"
          value="<%= searchQuery %>"
        />
        <label for="category">Filter by Category:</label>
        <input
          class="input"
          type="text"
          id="category"
          name="category"
          placeholder="Enter category"
          value="<%= categoryQuery %>"
        />
        <button class="button is-primary mt-2" type="submit">Search</button>
      </form>

      <ul>
        <% startups.forEach(startup => { %>
        <!-- Log startup name and search query for debugging -->
        <% console.log("Startup Name:", startup.info.name); %> <%
        console.log("Search Query:", searchQuery); %>

        <!-- Check if the startup matches the search criteria -->
        <% if (startup.info && (searchQuery ?
        startup.info.name.toLowerCase().includes(searchQuery.toLowerCase()) :
        true)) { %>
        <li>
          <strong>Name:</strong> <%= startup.info.name || "NaN" %>,
          <strong>Founder:</strong> <%= startup.info.founder || "NaN" %>,
          <strong>Categories:</strong>
          <% if (startup.info.categories && startup.info.categories.length > 0)
          { %> <%= startup.info.categories.join(', ') %> <% } else { %> "NaN" <%
          } %>
        </li>
        <% } %> <% }); %>
      </ul>
    </main>

    <!-- THE FOOTER TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>
