<!-- search.ejs -->
<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header-auth") %>
    <main class="container">
      <h1 class="title has-text-centered">Search Startups</h1>

      <!-- Add a search input form -->
      <form action="/search" method="get" class="mb-5">
        <label for="name">Search by Name:</label>
        <input
          class="input mb-2"
          type="text"
          id="name"
          name="name"
          placeholder="Enter startup name"
          value="<%= searchQuery %>"
        />
        <label for="category">Filter by Category:</label>
        <input
          class="input"
          type="text"
          id="category"
          name="category"
          placeholder="Enter category"
          value="<%= categoryQuery %>"
        />
        <button class="button is-primary mt-2" type="submit">Search</button>
      </form>

      <ul>
        <% startups.forEach(startup => { %>
        <!-- Log startup name and search query for debugging -->
        <% console.log("Startup Name:", startup.info.name); %> <%
        console.log("Search Query:", searchQuery); %>

        <!-- Check if the startup matches the search criteria -->
        <% if (startup.info && (searchQuery ?
        startup.info.name.toLowerCase().includes(searchQuery.toLowerCase()) :
        true)) { %>
        <li>
          <div class="is-flex is-flex-direction-row is-justify-content-space-between">
            <div class="is-flex is-flex-direction-row my-4">
              <figure class="image is-128x128 mr-4">
                <!-- Missing URL Checker -->
                <img
                  class="is-rounded"
                  src="<%= startup.info.image || 'https://bulma.io/images/placeholders/128x128.png' %>"
                  alt=""
                />
              </figure>
              <div class="is-flex is-flex-direction-column is-justify-content-space-between py-4">
                <div class="is-flex is-flex-direction-column">
                  <h1 class="title is-4"><%= startup.info.name || "NaN" %></h1>
                  <h3 class="subtitle is-6"><%= startup.info.website || "NaN" %></h3>
                </div>
                <div class="is-flex is-flex-direction-column">
                  <% if (startup.info.categories && startup.info.categories.length > 0)
                  { %> <%= startup.info.categories.join(', ') %> <% } else { %> "NaN" <%
                  } %>
                </div>
              </div>
            </div>
            <div class="is-flex is-flex-direction-row">
              <div class="is-flex is-flex-direction-row is-align-items-center">
                <div class="has-background-grey-light is-flex is-align-items-center is-justify-content-center mx-2" style="width: 40px; height: 40px; border-radius: 50%;">
                  <i class="bi bi-link-45deg" style="font-size: 22px;"></i>
                </div>
                <div class="has-background-grey-light is-flex is-align-items-center is-justify-content-center mx-2" style="width: 40px; height: 40px; border-radius: 50%;">
                  <i class="bi bi-send" style="font-size: 18px;"></i>
                </div>
                <div class="has-background-grey-light is-flex is-align-items-center is-justify-content-center mx-2" style="width: 40px; height: 40px; border-radius: 50%;">
                  <i class="bi bi-bookmark" style="font-size: 18px;"></i>
                </div>
              </div>
            </div>
          </div>
        </li>

        <!-- <li>
          <strong>Name:</strong> <%= startup.info.name || "NaN" %>,
          <strong>Founder:</strong> <%= startup.info.founder || "NaN" %>,
          <strong>Categories:</strong>
          <% if (startup.info.categories && startup.info.categories.length > 0)
          { %> <%= startup.info.categories.join(', ') %> <% } else { %> "NaN" <%
          } %>
        </li> -->
        <% } %> <% }); %>
      </ul>
    </main>

    <!-- THE FOOTER TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>
